html{background-color:#ADADAD;}
body{ background:url(../images/bg.jpg) repeat-y center center #ADADAD; color:#333; margin:0; padding:0;}

table { border-collapse: collapse;border-spacing: 0;}

.theme-body{ margin:0 auto; width:1000px;}
.theme-middle{ background:url(../images/contentbg.png) repeat-y #F8F8F8; min-height:100px;}

.theme-north{border-bottom:#E33403 8px solid; background-color:#F8F8F8}
.theme-north .logo{padding:20px 0 0 20px;width:240px; float:left;}
.theme-north .menu{ margin-left:240px; height:30px;text-align:left; padding-top:68px;}
.theme-north .menu ul{ margin:0 0 0 30px; padding:0;}
.theme-north .menu ul li{ float:left; height:30px;line-height:25px;padding-left:5px; padding-right:5px; list-style:none;}
.theme-north .menu ul li a{
	text-decoration:none; display:block;padding:0 8px;
	-moz-border-radius: 4px;-khtml-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;
}
.theme-north .menu ul li.menu-on{}
.theme-north .menu ul li.menu-on a{color:#FFF; background-color:#333333;}
.theme-north .menu ul li.menu-off a{color:#2E2F31;}
.theme-north .menu ul li.menu-off a:hover{color:#FFF; background-color:#333333}

.theme-center{ margin-left:254px; min-height:500px;}
.theme-center .center-title{font-size:14px; font-weight:bold; height:33px;line-height:25px; /*background:url(../images/title_bg.png) repeat-x;*/ margin:0; padding:0 0 10px 10px;}
.theme-center .center-body{line-height:150%;margin:0;padding-bottom:20px}
.theme-center .center-body p{ margin-top:0;}


.theme-west{float:left; width:254px;}
.theme-west .wrapper, .theme-center .wrapper, .theme-east .wrapper{padding:10px; padding-bottom:50px;}
.theme-west h2{ border-bottom:1px solid #999999; font-size:14px; line-height:20px;}
.theme-west .login-form{ padding:0; margin:10px 0 0 10px;}
.theme-west .login-form label{display:inline-block;width:50px;}
.theme-west .login-form li{ list-style:none;line-height:25px; }

.theme-south{ background-color:#2E2F31;text-align:center;color:#888; padding:20px 0;}
.theme-south .foot-menu{text-align:center;}
.theme-south .foot-menu ul{ margin:0; padding:0;}
.theme-south .foot-menu ul li{ display:inline;padding:0 3px;list-style:none;}
.theme-south .foot-menu ul li a{color:#FFF;text-decoration:none;}
.theme-south .foot-menu ul li a:hover{color:#F00;}

.theme-south .copyright{margin-top:10px;}
.theme-south .copyright a{color:#888;text-decoration:none;}
.theme-south .copyright a:hover{color:#C00;}



.theme-message{padding-left:25px; margin:5px 0; height:25px; line-height:25px;text-align:left;font-size:12px; color:#444444;}

/* 普通提示信息 */
.theme-message-notice{background:#C3D2E5 url(../images/notice.gif) 5px no-repeat;border-top:2px solid #84A7DB;border-bottom:2px solid #84A7DB;}

/* 警告提示信息 */
.theme-message-warning{background:#EFE7B8 url(../images/warning.gif) 5px no-repeat;border-top:2px solid #F0DC7E;border-bottom:2px solid #F0DC7E;}

/* 错误提示信息 */
.theme-message-error{background: #E6C0C0 url(../images/error.gif) 5px no-repeat;border-top:2px solid #DE7A7B;border-bottom:2px solid #DE7A7B;}

.theme-message .close{float:right;;margin-right:5px;font-size:20px;line-height:25px;text-decoration: none;}

.theme-message-notice .close{color:#84A7DB;}
.theme-message-notice .close:hover{color:#6285B9;}

.theme-message-warning .close{color:#F0DC7E;}
.theme-message-warning .close:hover{color:#D0BA5C;}

.theme-message-error .close{color:#DE7A7B;}
.theme-message-error .close:hover{color:#BC5859;}

