html{background:#FFF;}
body{text-align:center;}
.body{margin:20px auto 0 auto; width:360px;}

.logo{background:url(../images/logo.gif) center center no-repeat; height:60px; margin:50px 0 30px 0;}
.logo-text{padding-top:40px; padding-left:200px; text-align:left;}

.login-box{margin-top:30px;}
.login-box-tl{background:url(../images/box-corner.png) no-repeat; height:30px; padding-left:48px;}
.login-box-tr{background:url(../images/box-corner.png) no-repeat right -30px; height:30px;}

.login-box-ml{background:url(../images/box-bg.png);padding-left:40px; overflow:hidden;}
.login-box-mr{background:url(../images/box-bg.png) right 0 repeat-y;padding-left:30px;padding-right:50px;}

.login-box-bl{background:url(../images/box-corner.png) no-repeat 0 -60px; height:30px; padding-left:48px;}
.login-box-br{background:url(../images/box-corner.png) no-repeat right -90px; height:30px;}


#login-msg{margin:20px;}

.message-error{
	background: #E6C0C0 url(../images/error.gif) 5px no-repeat;border-top:2px solid #DE7A7B;border-bottom:2px solid #DE7A7B;
	padding-left:25px; margin:5px 0px; height:30px; line-height:30px;text-align:left;color:#444444;
}



