
.admin_ui_pagination{height: 26px;margin: 18px 0px;}
.admin_ui_pagination ul{
  float: left;
  margin: 0;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.admin_ui_pagination li{display: inline;}
.admin_ui_pagination a{
  float: left;
  padding: 0 8px;
  line-height: 24px;
  border-right: 1px solid;
  border-right-color: #ddd;
  text-decoration: none;
  color: #666;
}
.admin_ui_pagination a:hover{background-color: #FFFFDD;}
.admin_ui_pagination .active a{background-color: #FFFFBB;}
.admin_ui_pagination .disabled a,
.admin_ui_pagination .disabled a:hover{background-color: transparent;color: #ccc;}
.admin_ui_pagination .next a{border: 0;}